<html>
    <head>
        <title>Liste des frises disponibles</title>
        <meta charset='UTF-8'>
        <script src='http://code.jquery.com/jquery-1.12.4.min.js'></script>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css'>
        <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'></script>
        <link rel='stylesheet' href='/script/style.css' />
    </head>
    <div class="container">
    <h1>Créer une nouvelle frise</h1>
    <br>
    <form method="POST">
        
        <label>Titre de la frise</label><input type="text" name="titre"><br>
    
    </form>
    </div>
</html>