<!doctype html>
<html>
	<head>
     <meta charset="UTF-8">
        <script src="http://code.jquery.com/jquery-1.12.4.min.js"></script>
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" href="/script/styleconnexion.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet"  href ="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
        <link rel="stylesheet" href="/script/style.css" />
                
      </head>
    <body>
            <h1>Frise chronologique</h1>
            <h3>Créez votre frise en un clic</h3>
            <nav class="navbar navbar-default navbar-default" role="navigation">
                    <div class="container-fluid">
                      <div class="navbar-header">
                        
                        <a class="navbar-brand" href="#">Veuillez vous identifier</a>
                      </div>
        <form class="form" role="form" method="get" action="/liste" accept-charset="UTF-8" id="login-nav">
            <div class="form-group">
                 <label class="sr-only" for="exampleInputEmail2">Adresse mail</label>
                 <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Adresse mail" required>
            </div>
            <div class="form-group">
                 <label class="sr-only" for="exampleInputPassword2">Mot de passe</label>
                 <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Mot de passe" required>
                 <div class="help-block text-right"><a href="">Mot de passe oublié?</a></div>
            </div>
            <div class="form-group">
                 <button type="submit" class="btn btn-primary btn-block">Se connecter</button>
            </div>
     </form>
</div>

</body>
<footer>
	<p>© 2017<a style="color:#0a93a6; text-decoration:none;" href="#"> Frise chronologique  Université d'evry Paris-Saclay</a>, projet Développement de Logiciel Libre.</p>
 </footer>
</html>