<html>
    <head>
        <title>Liste des frises disponibles</title>
        <meta charset='UTF-8'>
        <script src='http://code.jquery.com/jquery-1.12.4.min.js'></script>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css'>
        <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'></script>
        <link rel='stylesheet' href='../style.css' />
    </head>
    <h1>Liste des frises disponnibles</h1>
    <table class='table'>
        <thead>
            <tr><th>Nom de la frise</th><th>Action</th></tr>
        </thead>
        <tbody>
            <% frises.forEach(function(frise) { %>
            <tr>
                <td><%=frise.titre%></td>
                <td><a href="/frise/<%=frise.id%>">Accéder à la frise</a></td>
            </tr>
            <% }); %>
        </tbody>
    </table>
</html>